body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    height: 5em;
    width: 100%;
    background-color: darkgrey;
    position: relative;
    bottom: 1em;
    right: 0.5em;
    padding: 1em;
}

header a {
    font-weight: 600;
    font-size: 1.125em;
}

a:link {
    color: rgb(60, 0, 109);
}

a:hover {
    color: rgb(140, 0, 255);
}

a:focus {
    color: rgb(140,0,255);
}

a:visited {
    color: rgb(93, 40, 136);
}

nav {
    margin-right: 1em;
}

nav ul li {
    display: inline;
    list-style-type: none;
}

@media only screen and (max-width: 768px) {
    header nav ul {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 6.5em;
    }

    #contactlinks{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#aboutcontainer {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 80%;
    text-align: center;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectscontainer {
    width: 45%;
    margin-left: 5%;
    text-align: center;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#skillscontainer {
    width: 45%;
    margin-right: 5%;
    text-align: center;
}
#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#contactcontent {
    text-align: center;
}

#contactlinks i {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
}